# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare shell scripts to always be normalized to LF in the repo
*.sh text eol=lf

# Other common text file types
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# Explicitly mark binary files to prevent corruption
*.png binary
*.jpg binary
*.zip binary